.cabecalho {
    padding-top: 450px;
    padding-bottom: 100px;
    background-image: url(../images/aniversario.jpg);
    background-repeat:no-repeat;
    background-size:cover;



    &__text {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 36px;
        font-weight: 800;
        line-height: 56px;
        text-align: center;
        background-color: #ffffff8c;
        border-radius: 30px;
    }

        @media (max-width: 640px) {
        padding: 40px 0;

        &__text {
            font-size: 20px;
            line-height: 22px;
            margin: 24px 0;
        }
    }
}
